@import "../../../scss/variables";

.formControl {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        font-size: $small;
        font-weight: $bolder;
        color: $marineBlue;
    }

    input {
        font-size: $small;
        font-weight: $bolder;
        color: $coolGray;
        padding: 1rem;
        border: 1px solid $lightGray;
        border-radius: 12px;
        outline: none;

        &::placeholder {
            font-size: $small;
            font-weight: $bolder;
            color: $coolGray;
        }
    }
}
