@import "../../../../scss/variables";

.stepContent1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.planCardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

.planCard {
    padding: 0.6rem 0.9rem;
    border: 1px solid $lightGray;
    border-radius: 12px;
    transition: all 300ms ease;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: $alabaster;
        box-shadow: $lightShadow;
    }

    img {
        object-fit: contain;
        width: 46px;
    }
}

.planCardPricing {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    transform: translateY(20px);
    transition: all 300ms ease;
}

.planName {
    font-size: $heading4;
    font-weight: $bolder;
    color: $marineBlue;
}

.planPrice {
    font-size: $small;
    font-weight: $bold;
    color: $coolGray;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.planCard.shown {
    background-color: $alabaster;
    box-shadow: $lightShadow;

    .planCardPricing {
        transform: translateY(0px);
    }

    .planPrice {
        opacity: 1;
        visibility: visible;
    }
}

.toggleContainer {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $alabaster;
    border-radius: 12px;
    margin-top: 1rem;

    .pricingPlan {
        font-size: $medium;
        color: $marineBlue;
        font-weight: $boldest;
    }

    .toggle {
        height: 28px;
        width: 48px;
        margin: 0 1rem;
        background-color: $marineBlue;
        border-radius: 100px;

        .circle {
            width: 20px;
            height: 20px;
            background-color: $white;
            border-radius: 100%;
            transform: translate(4px, 4px);
            transition: all 300ms ease;
            cursor: pointer;
        }
    }
}
